/* Globals */
body {
	font-family: roboto, sans-serif;
	margin: 0;
}

body a {
	text-decoration: none;
	color: black;
}
/* Nav Bar */
.navigation {
	display: flex;
	height: 4em;
	overflow: hidden;
	padding: 0 6.25em 0 1.25em;
	background: linear-gradient(to right, rgb(255,255,255), rgb(235,242,92));
}

.nav-logo {
	flex-basis: 20%;
	justify-content: center;
}

.nav-logo h1 {
	font-family: "Abril Fatface", cursive;
}

.nav-logo * {
	line-height: 0;
	min-width: 7em;
}

.nav-links {
	display: flex;
	flex-basis: 80%;
	font-size: 1.5em;
	justify-content: flex-end;
	align-items: center;
}

.nav-links a {
	padding: 0.6em;
	text-align: center;
}

.active {
	text-decoration: underline;
}
/* Footer */
.footer {
	display: flex;
	padding: 1.8em;
	background: #999999;
	font-size: 1.25em;
}

.footer h3 {
	font-size: 1.7em;
	margin: 0;
}

.footer-office {
	flex-basis: 70%;
}

.footer-office > div {
	display: flex;
}

.footer-office > div address{
	padding: 0.6em;
}

.smedia {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	font-size: 1.5em;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* News */
:root{
 --primary-color: #ffff00;
 --light-color: #f1f1f1;
  --dark-color: #333;
--max-width: 1100px;
}

.category{
  --company-color: #FF0090;
  --sections: #ffff00;
}

body{
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

a{
  color: var(--dark-color);
  text-decoration: none;
}
ul{
  list-style: none;
}
p{
  margin: 0.5rem 0;
}
img{
  width: 100%;
}

.container{
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
.category{
  display: inline-block;
  color: #ff0090;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.category-company{
  background: var(--company-color);
}
.category-sections{
  background: var(--sections-color);
}
.card{
  padding: 2rem;
}
.py-1{
  padding: 1.5rem 0;
}
.py-2{
  padding: 2rem 0;
}

/* Showcase */
#showcase{
  color: #fff;
  background: var(--dark-color);
  padding: 2rem;
  position: relative;
}
#showcase:before{
  content: '';
  background: url('https://miro.medium.com/max/1024/1*WOMVJw3Zj6c8vazwfa7PRA.jpeg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
#showcase .showcase-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}
#showcase .showcase-content{
  z-index: 1;
}
#showcase .showcase-content p {
  margin-bottom: 1rem;
}
/* sections */

#home-articles .articles-container{
  display: grid;
}
#home-articles .articles-container > *:first-child{ 
   display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;
  grid-column: span 2;
  align-items: center;
}

#home-articles .articles-container > *:last-child{
  grid-column: span 1;
}

.section-header .section-title{
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 2.4rem;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    letter-spacing: 0.1rem;
    font-weight: 900;
    font-size: 1.250rem;
    position: relative;
    padding-left: 64px;
    background-color: #f0f0f0;
}
.section-header .section-title:before{
    content: "\f054";
    position: absolute;
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;    left: 0;
    width: 46px;
    line-height: 46px;
    text-align: center;
    background-color: rgba(255,0,255,1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0px;
    color: #ffffff;
}

.section-header .section-title:after{
    content: '';
    position: absolute;
    display: block;
    bottom: 20px;
    left: 0px;
    bottom: 0;
    height: 4px;
    right: 0px;
    background: -moz-linear-gradient(left, rgba(255,0,255,1)) 0%,rgba(240, 255, 0, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,0,255,1) 0%,rgba(240, 255, 0, 1) 100%);
    background: linear-gradient(to right, rgba(255,0,255,1) 0%,rgba(240, 255, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34ace0', endColorstr='#9945e1ef',GradientType=1 );
}

.btn-main{
    background: #ffff00;
    color: #ffffff;
    border: 1px solid #000;
    padding: 0.725rem 2rem;
    text-align: center;
    font-weight: 900;
    display: inline-block;
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 0.1rem;
    -webkit-transition: background-color 300ms, color 300ms;
    -moz-transition: background-color 300ms, color 300ms;
    -ms-transition: background-color 300ms, color 300ms;
    -o-transition: background-color 300ms, color 300ms;
    transition: background-color 300ms, color 300ms;
}
.btn-main:hover{
    background: #f0f0f0;
    text-decoration: none;
    color: #000;
}

/* Responsive */
@media only screen and (max-width: 1170px) {
	.navigation {
		padding: 0.6em;
	}

@media only screen and (max-width: 830px) {
	.nav-logo {
		display: none;
	}

	.nav-links {
		flex-basis: 100%;
		justify-content: center;
	}
}
