/* Globals */
body {
	font-family: roboto, sans-serif;
	margin: 0;
}

body a {
	text-decoration: none;
	color: black;
}

.page-container {
	display: flex;
	flex-direction: column;
}
/* Nav Bar */
.navigation {
	display: flex;
	height: 4em;
	overflow: hidden;
	padding: 0 6.25em 0 1.25em;
	background: linear-gradient(to right, rgb(255,255,255), rgb(235,242,92));
}

.nav-logo {
	flex-basis: 20%;
	justify-content: center;
}

.nav-logo h1 {
	font-family: "Abril Fatface", cursive;
}

.nav-logo * {
	line-height: 0;
	min-width: 7em;
}

.nav-links {
	display: flex;
	flex-basis: 80%;
	font-size: 1.5em;
	justify-content: flex-end;
	align-items: center;
}

.nav-links a {
	padding: 0.6em;
	text-align: center;
}

.active {
	text-decoration: underline;
}
/* Footer */
.footer {
	display: flex;
	padding: 1.8em;
	background: #999999;
	font-size: 1.25em;
}

.footer h3 {
	font-size: 1.7em;
	margin: 0;
}

.footer-office {
	flex-basis: 70%;
}

.footer-office > div {
	display: flex;
}

.footer-office > div address{
	padding: 0.6em;
}

.smedia {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	font-size: 1.5em;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
/* Homepage */
.home {
	background: linear-gradient(to right, rgb(255,255,255), rgb(235,242,92));
	height: 44em;
	display: flex;
}

.home-img {
	flex-basis: 33.3333%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-text {
	flex-basis: 66.6667%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 6.25em 0 0;
}

.home-text > h3 {
	font-size: 3.1em;
}

.home-text > p {
	font-size: 1.9em;
}

.home-text-links {
	font-size: 1.5em;
	display: flex;
	justify-content: space-between;
}

.home-text-links a {
	display: flex;
	align-items: center;
	margin: 0 3.1em;
	padding: 0.5em;
	border: 3px solid #D9E021;
	background: #F9FF74;
	text-align: center;
}

.home-text-links a:hover {
	background: #F9FFF4;
	color: #1F1F1F;
}

.featured {
	display: flex;
}

.featured > div{
	flex-basis: 50%;
	padding: 1.9em;
}

.featured h3 {
	font-size: 2.5em;
	text-align: center;
}

.featured-news p {
	font-size: 1.9em;
}

.featured-news a {
	color: blue;
}

.featured-news a:hover {
	text-decoration: underline;
}

.gallery {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 5px;
}

.gallery img {
	width: 13.5em;
	height: 13.5em;
}

.gallery img:hover {
	transform: scale(1.5);
}
/* Responsive */
@media only screen and (max-width: 1120px) {
	.navigation {
		padding: 0.6em;
	}

	.home-img {
		display: none;
	}

	.home-text {
		flex-basis: 100%;
		align-items: center;
		text-align: center;
		padding: 3.1em;
	}

	.gallery {
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width: 830px) {
	.nav-logo {
		display: none;
	}

	.nav-links {
		flex-basis: 100%;
		justify-content: center;
	}

	.home-text {
		padding: 0.6em;
	}

	.gallery {
		grid-template-columns: auto;
		justify-content: center;
	}
}
